

<ion-tabs>
    <ion-tab-bar slot="bottom" color="secondary" *ngIf="user;else noUser">


        <ion-tab-button tab="tab1/{{user.id}}">
            <ion-icon name="analytics" color="primary"></ion-icon>
            <ion-label color="primary">Dashboard</ion-label>
        </ion-tab-button>


        <ion-tab-button tab="tab2/{{user.id}}" *ngIf="user.type==2">
            <ion-icon name="paper" color="primary"></ion-icon>
            <ion-label color="primary">Project</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab3/{{user.id}}" *ngIf="user.type==2">
            <ion-icon name="logo-usd" color="primary"></ion-icon>
            <ion-label color="primary">Market</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4/{{user.id}}" *ngIf="user.type==1">
            <ion-icon name="cloud-upload" color="primary"></ion-icon>
            <ion-label color="primary">Proposal</ion-label>
        </ion-tab-button>

    </ion-tab-bar>



</ion-tabs>

<ng-template #noUser>

    <hr />
    <h5>This user is not available</h5>

</ng-template>