<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>detailsprojet</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="projet;else noProjet">
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">{{projet.name}} </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/analyse.png"></ion-img></div>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">25,20 </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/stati.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">{{projet.deadline}} </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/date.png"></ion-img></div>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="card">
                    <div class="card-title">{{projet.dev_team.length}} persons </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/effective.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">{{projet.budget}} </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/budget.png"></ion-img></div>

                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="card">
                    <div class="card-title">50 M</div>
                    <div class="card-subtitle"><ion-img src="assets/icon/analysis.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">300$ </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/money.png"></ion-img></div>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">10%</div>
                    <div class="card-subtitle"><ion-img src="assets/icon/feedback.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ngx-datatable
        [rows]="taskslist"
        [rowHeight]="'auto'"
        [columnMode]="'force'"
        [ngClass]="tableStyle"
        [headerHeight]="50"
        [footerHeight]="25"
        [sortType]="'multi'"
                                 
        >
                   
               
        <ngx-datatable-column name="Status"[cellClass]="getCellClass" ></ngx-datatable-column>
        <ngx-datatable-column name="Name" ></ngx-datatable-column>
        <ngx-datatable-column name="Difficulty"></ngx-datatable-column>
        <ngx-datatable-column name="Progress"> </ngx-datatable-column>
        <!-- [canAutoResize]="false"-->
        <ngx-datatable-column name="Actions"   [resizeable]="false"[sortable]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button size="small" fill="outline" (click)="open(row)">Details</ion-button>
            </ng-template>

        </ngx-datatable-column>

    </ngx-datatable>

    <!--
        <ion-card class="ion-no-padding" *ngIf="projet;else noProjet">
            <ion-card-header>
                <p style="margin-left:-9px;"> Manage Tasks  </p>
            </ion-card-header>

            <ion-card-content class="ion-no-padding">
                <ion-grid fixed class="ion-text-center">
                    <ion-row>
                        <ion-col  style="font-size: 10px">
                            STATUS
                        </ion-col>
                        <ion-col  style="font-size: 10px">
                            TASK
                        </ion-col>
                        <ion-col style="font-size: 10px;">
                            Employee
                        </ion-col>
                        <ion-col  style="font-size: 10px ">
                            DIFFICULTY
                        </ion-col>
                        <ion-col  style="font-size: 10px">
                            PROGRESS
                        </ion-col>
                        <ion-col  style="font-size: 10px">
                            ACTION
                        </ion-col>

                    </ion-row>
                    <ion-row *ngFor="let task of projet.Tasks">

                        <ion-col size="2" style="font-size:10px;">
                            {{task.status}}
                        </ion-col>
                        <ion-col size="2" style="font-size:10px">
                            {{task.name}}
                        </ion-col>
                        <ion-col size="2" style="font-size:10px">
                            a
                        </ion-col>
                        <ion-col size="2" style="font-size:10px">
                            {{task.difficulty}}
                        </ion-col>
                        <ion-col size="2" style="font-size:10px">
                            {{task.progress}}
                        </ion-col>
                        <ion-col size="2" style="font-size:10px">
                            Action
                        </ion-col>
                    </ion-row>

                </ion-grid>


            </ion-card-content>

        </ion-card>
        -->

    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                Workload
            </ion-card-header>
            <ion-card-content>
                <canvas #barCanvas id="barCanvas"></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Tasks
            </ion-card-header>
            <ion-card-content>
                <canvas #doughnutCanvas id="doughnutCanvas"></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Progress work
            </ion-card-header>
            <ion-card-content>
                <canvas #lineCanvas id="lineCanvas"></canvas>
            </ion-card-content>
        </ion-card>
    </div>








    <form *ngIf="projet;else noProjet">
        <ion-grid>
            <ion-row>
                <ion-col class='my-thin-col'>
                    <ion-item>
                        <ion-label>Name</ion-label><ion-label>{{projet.name}}</ion-label>
                    </ion-item>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>Description</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>{{projet.description}}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>




    <ng-template #noProjet>

        <hr />
        <h5>This project is not available</h5>

    </ng-template>


</ion-content>

