.accordion-list {
    margin-bottom: 4px;
    --ion-item-background: #fff;

    .section, .section-active {
        --min-height: 58px;
    }
}

.section {
    --ion-item-background: #fff;
    --ion-item-color: #000;
}

.section-active {
    --ion-item-background: #f88e55;
    --ion-item-color: #fff;
    font-weight: 600;

    ion-icon {
        color: #fff;
    }
}

.child-list {
    padding: 0;
    margin: 0;

    .child, .child-active {
        margin-bottom: 2px;
    }
}

.child {
    --ion-item-background: #e8e7e6;
    --ion-item-color: #000;
}

.child-active {
    --ion-item-background: #fad86b;
    --ion-item-color: #fff;

    ion-icon {
        color: #fff;
    }
}


.card {
    position: relative;
    background-color: #252b3b;
    text-align: center;
    height: 100px;
    width: 100%;
    margin:5px;
}

.card-title {
    position: absolute;
    top: 25%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.card-subtitle {
    font-size: 1.0em;
    position: absolute;
    padding-top: 52px;
    padding-left: 70%;
    width: 100%;
    color: #FFF;
}


.col {
    padding: 0px;
}
ion-img {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-right:auto;
}

///////////////////////////////////////////////////////////////////////////////////////

    .pending-row {
        background-color: green !important;
    }

    .finished-row {
        background-color: red !important;
    }
