<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>detailsprojet</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">OK </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/analyse.png"></ion-img></div>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">25,20 </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/stati.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">10/11/2020 </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/date.png"></ion-img></div>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="card">
                    <div class="card-title">6 persons </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/effective.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">300$ </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/budget.png"></ion-img></div>

                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card class="card">
                    <div class="card-title">50 M</div>
                    <div class="card-subtitle"><ion-img src="assets/icon/analysis.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">300$ </div>
                    <div class="card-subtitle"><ion-img src="assets/icon/money.png"></ion-img></div>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="card">
                    <div class="card-title">10%</div>
                    <div class="card-subtitle"><ion-img src="assets/icon/feedback.png"></ion-img></div>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>



    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                Workload
            </ion-card-header>
            <ion-card-content>
                <canvas #barCanvas id="barCanvas"></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Tasks
            </ion-card-header>
            <ion-card-content>
                <canvas #doughnutCanvas id="doughnutCanvas"></canvas>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Progress work
            </ion-card-header>
            <ion-card-content>
                <canvas #lineCanvas id="lineCanvas"></canvas>
            </ion-card-content>
        </ion-card>
    </div>




    <ion-card>
        <ion-card-header>
            Manage Tasks
        </ion-card-header>
        <ion-card-content>

            <ion-grid>
                <ion-row style="border-bottom: groove;">
                    <ion-col col-4>
                        <ion-label>State</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Task</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Deadline</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Employee </ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="border-bottom: groove;">
                    <ion-col col-4>
                        <ion-label>Doing</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Api rest</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>02/02/2018</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Yassine</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row style="border-bottom: groove;">
                    <ion-col col-4>
                        <ion-label>Done</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Api rest</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>02/02/2018</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Ahmed</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4>
                        <ion-label>To do</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>Api rest</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>02/02/2018</ion-label>
                    </ion-col>
                    <ion-col col-4>
                        <ion-label>mourad</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <form>
        <ion-grid>
            <ion-row>
                <ion-col class='my-thin-col'>
                    <ion-item>
                        <ion-label>Name</ion-label><ion-label>Ionic spring</ion-label>
                    </ion-item>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>Description</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>Ionic spring</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>Date</ion-label><ion-label>10/12/2020</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>Budget</ion-label><ion-label>30 $</ion-label>
                    </ion-item>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
                    <ion-item>
                        <ion-label>Effective</ion-label><ion-label>6 persons</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>









</ion-content>
