

    <ion-content>
        <div class="Centrer">

            <div class="logo">

                <ion-label class="title" color="light">Sign up</ion-label>


            </div>








            <ion-grid radio-group>
                <ion-row>
                    <ion-label class="soustitle">WHO YOU ARE?</ion-label><br />
                </ion-row>
                <ion-radio-group [(ngModel)]="type" (ionSelect)="showValue($event)">

                    <ion-row>

                        <ion-col size="3">


                            <ion-img src="assets/icon/client.png"></ion-img><br />
                            <ion-label class="client">Client</ion-label>
                            <ion-radio mode="md" class="client-check" value="1"></ion-radio>



                        </ion-col>

                        <ion-col size="3">
                            <ion-img src="assets/icon/manager.png"></ion-img><br />
                            <ion-label class="manager">Manager</ion-label>
                            <ion-radio mode="md" class="manager-check" value="2"></ion-radio>


                        </ion-col>

                        <ion-col size="3">
                            <ion-img src="assets/icon/developper.png"></ion-img><br />
                            <ion-label class="developper">Develop</ion-label>
                            <ion-radio mode="md" class="dev-check" value="3"></ion-radio>


                        </ion-col>
                    </ion-row>
                </ion-radio-group>
            </ion-grid>


            <ion-item>

                <ion-label color="light">
                    <ion-icon name="person" item-start></ion-icon>
                </ion-label>
                <ion-input color="light" type="text" placeholder="Full Name" [(ngModel)]="name"></ion-input>

            </ion-item>


            <ion-item>

                <ion-label color="light">
                    <ion-icon name="mail" item-start></ion-icon>

                </ion-label>
                <ion-input color="light" type="email" placeholder="Email" [(ngModel)]="email"></ion-input>

            </ion-item>

            <ion-item>

                <ion-label color="light">
                    <ion-icon name="lock" item-start></ion-icon>

                </ion-label>
                <ion-input color="light" type="password" placeholder="Password" [(ngModel)]="password"></ion-input>

            </ion-item>

            <ion-item>

                <ion-label color="light">
                    <ion-icon name="lock" item-start></ion-icon>

                </ion-label>
                <ion-input color="light" type="password" placeholder="Confirm Password" [(ngModel)]="confpassword"></ion-input>

            </ion-item>
            <ion-button shape="round" expand="full" (click)="addUser()">Sign up</ion-button>


        </div>
    </ion-content>
