<ion-header>
    <ion-toolbar color="secondary">
        <ion-grid>
            <ion-row class="ion-align-items-center">
                <ion-col class="ion-no-padding" col-6>
                    <ion-segment [(ngModel)]="joined" color="light">
                        <ion-segment-button [value]="focus">
                            <ion-menu-button color="primary"></ion-menu-button>
                        </ion-segment-button>
                        <ion-segment-button [value]="focus" (click)="pagenotif()">
                            <ion-icon name="notifications" color="primary"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button [value]="focus">
                            <ion-icon name="chatboxes" color="primary"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>

                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content class="ion-padding">

        <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input [(ngModel)]="Name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-textarea [(ngModel)]="Email"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-textarea [(ngModel)]="Password"></ion-textarea>
        </ion-item>

        <ion-item>

            <ion-label position="stacked">Gender</ion-label>
            <ion-select [(ngModel)]="selectedValue" name="selectCode"
                        placeholder="
                                                      Select One.."
                        (ionChange)="onChangeGender($event)" required>
                <ion-select-option value="Female">Female</ion-select-option>
                <ion-select-option value="Male">Male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>

            <ion-label position="stacked">City</ion-label>
            <ion-select [(ngModel)]="selectedValue" name="selectCode"
                        placeholder="
                                                      Select One.."
                        (ionChange)="onChangeCity($event)" required>
                <ion-select-option value="Female">Female</ion-select-option>

            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Mobile</ion-label>
            <ion-textarea [(ngModel)]="Mobile"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Occupation</ion-label>
            <ion-textarea [(ngModel)]="Occupation"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">LinkedIN</ion-label>
            <ion-textarea [(ngModel)]="LinkedIN"></ion-textarea>
        </ion-item>

        <ion-button expand="full" fill="solid" (click)="updateUser()">
            <ion-icon name="save" slot="start"></ion-icon>
            Update
        </ion-button>


    </ion-content>
